.about {
	padding: 100px 0 135px 0;
	color: $text-color;
	background: url('../img/about-bg.jpg') center no-repeat;
	background-size: cover;
	&-wrap {
		display: flex;
	}
	&-text {
		line-height: 24px;
		margin-bottom:35px;
		&-icon {
			display: flex;
  			justify-content: center;
  			align-items: center;
			list-style: none;
			height: 62px;
			width: 62px;
			border: 2px solid $text-color;
			font-size: 30px;
			transition: all 0.3s ease-in-out;
			margin-right: 20px;
			&:hover {
				cursor: pointer;
				color: $text-hover;
				border: 2px solid $text-hover;
			}
			&-wrap {
				display: flex;
			}
		}
	}
}
