.header{
  padding: 10px;
  background: $background-color;
  margin-top: 20px;
  
  .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
  }
  &-search{
    color: $text-color;
    cursor: pointer;
    font-size: 28px;
    &:hover{
      color: darken($text-color,10%);
    }
  }
  &-auth{
    display: flex;
    justify-content: space-between;
    width: 260px;
    button{
      border-radius: 10px;
      text-transform: capitalize;
      background: $text-color;
      color:$text-dark;
      outline: none;
      border:none;
      font-size: 20px;
      font-weight: bold;
      padding: 5px 25px;
      &:last-child{
        margin-left: 10px;
      }
    }
  }
}