.hero{
  margin-top: 50px;
  .logo{
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    font-weight: bold;
    color:$text-color;
  }
  .slogan{
    text-align: center;
    font-size: 52px;
    color:$text-color;
    font-weight: bold;
    margin: 30px 0 50px;
  }
  .products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px auto;
  }
  .products-item{
    font-size: 20px;
    color:$text-dark;
    cursor: pointer;
    background: $text-color;
    border-radius: 50%;
    width: 115px;
    height: 115px;
    text-align: center;
    margin-top: 5px;
  }
}