.overlay{
  display: block;
  position: fixed;
  top:0;
  bottom: 0;
  right: -300px;
  width: 300px;
  background: rgba(0,0,0,0.6);
  z-index: 5;
  overflow: hidden;
  .navbar{
    width: 250px;
    .navbar {
      &-item{
        border: 0px;
      }
    }
  }
  #cross{
    position: absolute;
    top:5px;
    right: 20px;
    font-size: 34px;
    cursor: pointer;
    color:$text-color;
  }
}
#arrow{
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: $text-dark;
  color: $text-color;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 34px;
  cursor: pointer;
  z-index: 100;
  display: none;
}