/* Portfolio */

.portfolio {
	padding: 80px 0;
	background-color: $text-color;
	.navbar-nav{
		margin-bottom: 80px;
		display: flex;
		flex-wrap: wrap;
	}
	&-title{
		margin-bottom: 30px;
	}
	.navbar-item{
		color:$text-dark;
		text-decoration: none;
		@media (max-width:770px) {
			margin: 0;
		}
		&-active{
			color:$text-hover;
			border:2px solid $text-hover
		}
		a{
			&:hover{
				text-decoration: none;
			}
		}
	}
	&-container {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&-img-container{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	&-img {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 15px;
		cursor: pointer;
		&:before {
			content: '+';
			width: calc(100% - 30px);
			height:calc(100% - 30px);;
			position: absolute;
			opacity: 0;
			font-family: 'Segoe UI Light';
			font-weight: 300;
			font-size: 72px;
			display: flex;
			justify-content: center;
			align-items: center;
			background: rgba(73, 82, 89, 0.9);
			color: $text-color;
			transition: all 0.3s ease-in-out;

		}
		&:hover:before {
			opacity: 1;
		}
	}
	img {
		width: 100%;

	}
}


