body {
	background-color: #515f67;
	font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
	font-size: 14px;
	font-weight: normal;
	overflow-x: hidden;
}

img {
	max-width: 100%;
}

.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";


@import "reset";
@import 'segoeui';
@import 'variables';
@import 'snippet__tittle';
@import 'header';
@import 'services';
@import 'portfolio';
@import 'default';
@import 'twitter';
@import 'about';
@import 'contact';
@import 'footer';
@import "menu";