@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";


@import "reset";
@import 'segoeui';
@import 'variables';
@import 'header';
@import 'hero';
@import "authForm";


body {
	background-color:$background-color;
	font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,sans-serif;
	font-size: 14px;
	font-weight: normal;
	overflow-x: hidden;
}

